[table_info]
tableName:       allwise_rej
partitioning:    1
schemaFile:      $SQL_DIR/allwise_rej.sql
compression:     0
subChunks:       1
dirColName:      source_id
dirDb:           $OUTPUT_DB
dirTable:        allwise_rej
latColName:      decl
lonColName:      ra
lockInMem:       1
scanRating:      0

