[table_info]
tableName:       Object
partitioning:    1
schemaFile:      $SQL_DIR/Object.sql
compression:     0
subChunks:       1
dirColName:      source_id
dirDb:           $OUTPUT_DB
dirTable:        Object
latColName:      dec
lonColName:      ra
lockInMem:       1
scanRating:      0

