[table_info]
tableName:       Reject
partitioning:    1
schemaFile:      $SQL_DIR/Reject.sql
compression:     0
subChunks:       1
dirColName:      source_id
dirDb:           $OUTPUT_DB
dirTable:        Reject
latColName:      decl
lonColName:      ra
lockInMem:       1
scanRating:      0

