[table_info]
tableName:       allwise_p3as_mep
partitioning:    1
schemaFile:      $SQL_DIR/allwise_p3as_mep.sql
compression:     0
subChunks:       0
dirColName:      source_id_mf
dirDb:           $OUTPUT_DB
dirTable:        allwise_p3as_psd
latColName:      decl
lonColName:      ra
lockInMem:       1
scanRating:      0

