[table_info]
tableName:       allwise_cat
partitioning:    1
schemaFile:      $SQL_DIR/allwise_cat.sql
compression:     0
subChunks:       1
dirColName:      source_id
dirDb:           $OUTPUT_DB
dirTable:        allwise_cat
latColName:      decl
lonColName:      ra
lockInMem:       1
scanRating:      0

