[table_info]
tableName:       ForcedSource
partitioning:    1
schemaFile:      $SQL_DIR/ForcedSource.sql
compression:     0
subChunks:       0
dirColName:      source_id_mf
dirDb:           $OUTPUT_DB
dirTable:        Object
latColName:      dec
lonColName:      ra
lockInMem:       1
scanRating:      0

