[table_info]
tableName:       allsky_3band_p1bs_psd
partitioning:    1
schemaFile:      $SQL_DIR/allsky_3band_p1bs_psd.sql
compression:     0
subChunks:       1
dirColName:      source_id
dirDb:           $OUTPUT_DB
dirTable:        allsky_3band_p1bs_psd
latColName:      decl
lonColName:      ra
lockInMem:       1
scanRating:      0

